@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme{
  --color-error: #DF6951;
  --color-main: #181E4B;
  --color-secondary: #5E6282
}

.popins {
  font-family: var(--font-popins);
}
@layer base {
  body{
    @apply bg-[#edf6f9] dark:bg-[#0a0a0a] text-black dark:text-white
  }
}